/* Open Sans: 400, 600,700 */
html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-weight: 400;
	line-height: 150%;
	font-size: 16px;
	color: #222;
}

*:focus {
	outline: 2px dotted #0eb4c1;
	outline-offset: 3px;
}

/* CONTAINER */
.container {
	width: 100%;
	max-width: 1140px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

.btn {
	border: 2px solid #de2e54;
	display: flex;
	padding: 12px 24px;
	justify-content: center;
	align-items: center;
	background-color: #de2e54;
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: background-color 0.4s ease, color 0.4s ease;
}

.btn:hover {
	background-color: #fff;
	color: #de2e54;
}

.btn:active {
	opacity: 0.6;
}

.header {
	background-color: #fff;
	padding-top: 24px;
	padding-bottom: 24px;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo-link {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #222;
	transition: color 0.4s ease, opacity 0.4s ease;
}

.header-logo-link:hover {
	color: #de2e54;
}

.header-logo-link:active {
	opacity: 0.6;
}

.header-logo-img {
	margin-right: 16px;
	width: 50px;
	height: 50px;
}

.header-logo-title {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.header-nav {
	margin-left: auto;
	margin-right: auto;
}

.header-list {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-item:not(:last-child) {
	margin-right: 32px;
}

.header-item a {
	text-decoration: none;
	color: #222;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: color 0.4s ease, opacity 0.4s ease;
}

.header-item a:hover {
	color: #de2e54;
}

.header-item a:active {
	opacity: 0.6;
}

.hero {
	background-color: #0eb4c1;
	padding-top: 29px;
	color: #fff;
}

.hero-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hero-info {
	max-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.hero-title {
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%; /* 43.2px */
	margin-bottom: 16px;
}

.hero-text {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 36px;
}

.hero-btn {
	text-decoration: none;
	transition: opacity 0.4s ease, background-color 0.4s ease, color 0.4s ease, border 0.4s ease;
}

.hero-btn:hover {
	opacity: 0.8;
	background-color: rgba(222, 46, 84, 0.8);
	border: 2px solid rgba(222, 46, 84, 0.8);
	color: #fff;
}

.hero-btn:active {
	opacity: 0.6;
}

.hero-img-wrapper {
	width: 423px;
	height: 504px;
	align-self: flex-end;
}
